@layout UnauthenticatedLayout
@page "/pass-reset"


<FluentGrid Justify="JustifyContent.Center">
    <FluentGridItem xs="12" sm="6" md="4" lg="3">
        <FluentCard>

            <FluentGrid Justify="JustifyContent.Center">

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <h3 style="text-align:center">Jelszó módosítás</h3>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <p style="opacity: 0.8; font-size: smaller; text-align:center">Kérjük, adja meg az új jelszavát.</p>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Jelszó" TextFieldType="@(ShowPassword ? TextFieldType.Text : TextFieldType.Password)" Required Style="width: 100%;">
                        <FluentIcon Value="@ChangeIcon()" @onclick="ToglePasswordVisibility" Color="@Color.Neutral" Slot="end" />
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Jelszó mégegyszer" TextFieldType="@(ShowPassword ? TextFieldType.Text : TextFieldType.Password)" Required Style="width: 100%;">
                        <FluentIcon Value="@ChangeIcon()" @onclick="ToglePasswordVisibility" Color="@Color.Neutral" Slot="end" />
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="6" lg="6" Justify="JustifyContent.Center">
                    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">
                        Változtat
                    </FluentButton>
                </FluentGridItem>

            </FluentGrid>

        </FluentCard>
    </FluentGridItem>
</FluentGrid>

@code {

    private bool ShowPassword = false;

    private Icon ChangeIcon()
    {
        if (ShowPassword)
        {
            return new Icons.Regular.Size16.EyeOff();
        }
        else
        {
            return new Icons.Regular.Size16.Eye();
        }
    }
    private void ToglePasswordVisibility()
    {
        ShowPassword = !ShowPassword;
    }

}
