@layout UnauthenticatedLayout
@page "/iam/pass-reset"
@using vetcms.ClientApplication.Features.IAM.ResetPassword
@inject NavigationManager Navigation
@inject MediatR.IMediator Mediator
@inject IDialogService DialogService

<FluentGrid Justify="JustifyContent.Center">
    <FluentGridItem xs="12" sm="6" md="4" lg="3">
        <FluentCard>

            <FluentGrid Justify="JustifyContent.Center">

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <h3 style="text-align:center">Jelszó módosítás</h3>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <p style="opacity: 0.8; font-size: smaller; text-align:center">Kérjük, adja meg az új jelszavát.</p>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField @bind-Value="email" Label="Email" TextFieldType="TextFieldType.Email" Placeholder="johndoe01@example.com" Required Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Value="verificationCode" Label="Biztonsági kód" TextFieldType="TextFieldType.Text" Required Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Value="pass1" Label="Jelszó" TextFieldType="@(ShowPassword ? TextFieldType.Text : TextFieldType.Password)" Required Style="width: 100%;">
                        <FluentIcon Value="@ChangeIcon()" @onclick="ToglePasswordVisibility" Color="@Color.Neutral" Slot="end" />
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Value="pass2" Label="Jelszó mégegyszer" TextFieldType="@(ShowPassword ? TextFieldType.Text : TextFieldType.Password)" Required Style="width: 100%;">
                        <FluentIcon Value="@ChangeIcon()" @onclick="ToglePasswordVisibility" Color="@Color.Neutral" Slot="end" />
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="6" lg="6" Justify="JustifyContent.Center">
                    <FluentButton @onclick="ChangePassword" Appearance="Appearance.Accent">
                        Változtat
                    </FluentButton>
                </FluentGridItem>

            </FluentGrid>

        </FluentCard>
    </FluentGridItem>
</FluentGrid>

@code {

    private bool ShowPassword = false;
    string verificationCode = string.Empty, email = string.Empty, pass1 = string.Empty, pass2 = string.Empty;

    private async void ChangePassword()
    {
        ConfirmResetPasswordClientCommand confirmResetPasswordClientCommand = new(DialogService)
        {
            Email = email,
            VerificationCode = verificationCode,
            Password1 = pass1,
            Password2 = pass2
        };
        await Mediator.Send(confirmResetPasswordClientCommand);
    }


    private Icon ChangeIcon()
    {
        if (ShowPassword)
        {
            return new Icons.Regular.Size16.EyeOff();
        }
        else
        {
            return new Icons.Regular.Size16.Eye();
        }
    }
    private void ToglePasswordVisibility()
    {
        ShowPassword = !ShowPassword;
    }

}
