@layout UnauthenticatedLayout
@page "/iam/register"
@using vetcms.ClientApplication.Features.IAM.RegisterUser
@inject MediatR.IMediator Mediator
@inject NavigationManager Navigation
@inject IDialogService DialogService


<FluentGrid Justify="JustifyContent.Center">
    <FluentGridItem xs="12" sm="6" md="4" lg="3">
        <FluentCard>

            <FluentGrid Justify="JustifyContent.Center">

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <h3 style="text-align:center">Regisztrálás</h3>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Megjelenített név" @bind-Value="username" TextFieldType="TextFieldType.Text" Placeholder="johndoe01" Required Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Email" @bind-Value="email" TextFieldType="TextFieldType.Email" Placeholder="johndoe01@example.com" Required Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>


                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Telefonszám" @bind-Value="phoneNumber" TextFieldType="TextFieldType.Tel" Required Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Jelszó" @bind-Value="pass1" TextFieldType="@(ShowPassword ? TextFieldType.Text : TextFieldType.Password)" Required Style="width: 100%;">
                        <FluentIcon Value="@ChangeIcon()" @onclick="ToglePasswordVisibility" Color="@Color.Neutral" Slot="end" />
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Jelszó mégegyszer" @bind-Value="pass2" TextFieldType="@(ShowPassword ? TextFieldType.Text : TextFieldType.Password)" Required Style="width: 100%;">
                        <FluentIcon Value="@ChangeIcon()" @onclick="ToglePasswordVisibility" Color="@Color.Neutral" Slot="end" />
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="6" lg="6" Justify="JustifyContent.Center">
                    <FluentButton @onclick="Register" Appearance="Appearance.Accent">
                        Regisztráció
                    </FluentButton>
                </FluentGridItem>
            </FluentGrid>

        </FluentCard>
    </FluentGridItem>
</FluentGrid>

@code {
    string username, email, phoneNumber, pass1, pass2;

    private bool ShowPassword = false;

    private Icon ChangeIcon()
    {
        if (ShowPassword)
        {
            return new Icons.Regular.Size16.EyeOff();
        }
        else
        {
            return new Icons.Regular.Size16.Eye();
        }
    }
    private void ToglePasswordVisibility()
    {
        ShowPassword = !ShowPassword;
    }
    private async void Register()
    {
        RegisterUserClientCommand registerUserClientCommand = new RegisterUserClientCommand(DialogService)
        {
            Username = username,
            Email = email,
            PhoneNumber = phoneNumber,
            Password = pass1,
            Password2 = pass2
        };
        await Mediator.Send(registerUserClientCommand);
        NavigateToLogin();
    }



    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/iam/login");
    }
}
